@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	background-color: #2f343f;
	color: #646669;
	font-family: "Lato", monospace;
	margin: 0;
}

i {
    background: transparent;
}

#app {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	row-gap: 20px;
	text-align: center;
}

#typing {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 20px;
}

#report {
	display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.report-table th {
    font-size: 25px;
    width: 15vw;
    padding: 0 20px 0 20px;
}

.report-table td,
#wpm, #raw-wpm, #accuracy {
    color: #DFD7AF;
    font-size: 25px;
    padding: 0 20px 0 20px;
}

.description {
    align-items: center;
    font-size: 50px;
}

#quote {
    font-variant-numeric: tabular-nums;
    max-width: 85vw;
    word-spacing: 4px;
}

#input-field {
	opacity: 0;
	position: absolute;
	z-index: -2;
}

#try-again-button, #next-button {
    border-radius: 0.5rem;
    border: none;
    color: #646669;
    cursor: pointer;
    padding: 1rem 2rem;
    position: relative;
    transition: .125s;
    width: min-content;
}

#try-again-button:focus, #try-again-button:hover,
#next-button:focus, #next-button:hover {
    background-color: #fff;
    color: #646669;
    outline: 0;
}

.active {
    /* animation: blinker 1s ease-in-out infinite; */
    text-decoration: underline;
    transition: text-decoration-color 300ms;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  